.produto-cart-box{
  border: 1px solid #e9e9e9;
  padding: 10px;
  display: flex;
  margin: 20px;
}

.produto-cart-box img{
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.produto-cart-nome{
  font-size: 1.5rem;
  margin: 10px 3px 0px 0px;
}

.produto-cart-valor{
  color: #acacac;
  margin: 0px 3px 10px 0px;
}

.footer-produto-cart{
  display: flex; 
  justify-content: space-between; /*Separa os elemento footer produtos*/
}

.footer-produto-btn{
  border: 1px solid #cacaca;
  padding: 10px 10px;
  border-radius: 0px;
  background-color: #fff;
  cursor: pointer;
}

.footer-produto-qtd{
  margin-left: 5px;
  margin-right: 5px;
}

.footer-produto-preco{
  color: #e84f3d;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1rem;
  display: inline-block;
  width: 100px;
}